@import "../../mixins/mixins-master";

.lp-header {
  background-color: var(--White-Bg);
  padding:8rem 0 1.6rem 0;
  
  @include lg-up {
    padding: 5.7rem 0 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      height: 3.357rem;
      width: auto;
      
      @include lg-up {
        height: 3.357rem;
      }
    }
  }
}
