.lp-testmonial {
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 70px 0 22px;
  }
  .container {
    @include lg-up {
      width: min(100% - 4rem, 70vw);
    }
  }
  &__title {
    font-family: "sofia-pro", sans-serif;
    width: min(100% - 6rem, 110rem);
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -1.38px;
    color: #0b0b0b;
    margin-bottom: 39px;

    @media (max-width: 768px) {
      margin-bottom: 35px;
      margin-right: auto;
    }

    .highlight {
      color: #599bf1;
    }

    .desktop-only {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__slider-wrapper {
    position: relative;
    margin-bottom: 39px;

    @media (max-width: 768px) {
      margin-bottom: 44px;
      min-height: 443px;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
    }

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }

    &--prev {
      left: 0;
      text-align: right;

      @media (min-width: 991px) {
        left: -60px;
      }
    }

    &--next {
      right: 0;

      @media (min-width: 991px) {
        right: -60px;
      }
    }
  }
}

// Swiper overrides
.lp-testmonial-swiper {
  overflow: visible !important;
  padding: 20px 0;

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    opacity: 0.4;

    @media (min-width: 769px) {
      transform: scale(0.8) !important;
      aspect-ratio: 341 / 443;
      &.swiper-slide-active,
      &.swiper-slide-next,
      &.swiper-slide-prev {
        opacity: 1;
        transform: scale(1) !important;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      height: 399px;
      transform: scale(1) !important;

      opacity: 0.6;

      &.swiper-slide-active {
        opacity: 1;
        transform: scale(1) !important;

        height: 443px;
      }
    }
  }
}

// Video card styling
.lp-custom-vimeo {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.9vw;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 3.96px 3.96px 11.88px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 768px) {
    border-radius: 24px;
    box-shadow: 3.564px 3.564px 10.692px 0px rgba(0, 0, 0, 0.25);
  }

  &__thumbnail {
    position: relative;
    width: 101%;
    height: 101%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__play-btn {
    position: absolute;
    top: 19px;
    left: 19px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      top: 17px;
      left: 17px;
      width: 37px;
      height: 37px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &:hover &__play-btn {
    transform: scale(1.1);
    margin-left: 2px;
  }

  &__iframe-wrp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
  }

  &.active &__iframe-wrp {
    display: block;
  }

  &.active &__thumbnail {
    opacity: 0;
  }

  &.active &__play-btn {
    display: none;
  }

  &__info {
    position: absolute;
    bottom: 19px;
    left: 19px;
    z-index: 2;

    @media (max-width: 768px) {
      bottom: 17px;
      left: 17px;
    }
  }

  &__name {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-size: 21.78px;
    line-height: 35.64px;
    color: #ffffff;
    text-shadow: 0px 3.96px 3.96px rgba(0, 0, 0, 0.25);
    margin: 0;

    @media (max-width: 768px) {
      font-weight: 500;
      font-size: 19.602px;
      line-height: 32.076px;
      text-shadow: 0px 3.564px 3.564px rgba(0, 0, 0, 0.25);
    }
  }
}
