.lp-banner {
  padding: 55px 0;
  width: 100%;
  position: relative;
  background: linear-gradient(90deg, #0e184b 0%, #0e184b 100%);
  overflow: hidden;
  @include lg-up {
    padding: 100px 0;
  }

  // Abstract background effect
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(
      75.22% 55.15% at 50% 50%,
      rgba(103, 152, 233, 0.37) 0%,
      rgba(103, 152, 233, 0) 100%
    );
    pointer-events: none;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &__title {
    font-family: "sofia-pro", sans-serif;
    font-weight: 900; // Black weight
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    margin: 0;

    @include lg-up {
      max-width: 1040px;
    }

    @include sm {
      max-width: 358px; // From mobile figma
    }

    .highlight {
      color: #599af1;
    }

    p {
      margin: 0;
    }
  }
}
